<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include ./partials/head -%>
	</head>
	<body>
		<h1>LTI Launch Instructions</h1>
		<h2>Configuration XML</h2>

		<p>View the LTI <a href="<%= xml_url %>">configuration xml</a></p>
		<p>This configuration is used to install your LTI tool into an LMS.  This xml can be referenced by url or copied and pasted durring the install process.</p>

		<h3>Testing LTI Launch</h3>
		<ol>
			<li>Visit the <a href="http://lti.tools/saltire/tc" target="_blank">IMS LTI Tool Consumer Emulator</a></li>
			<li>Set <b>Message Type</b> to one of:
				<ul>
					<li><code>basic-lti-launch-request</code></li>
					<li><code>ContentItemSelectionRequest</code></li>
				</ul>
			</li>
			<li>Set <b>Message URL</b> to one of:
				<ul>
					<li><code><%= launch_url %></code></li>
					<li><code><%= course_navigation_url %></code></li>
					<li><code><%= assignment_selection_url %></code></li>
				</ul>
			</li>
			<li>Set <b>Consmer key</b> to one of the available keys (as defined in <span>config/lti.json</span>):
				<ul>
					<% for (var i = 0; i < keys.length; i++) { %>
					<li><code><%= keys[i] %></code></li>
					<% } %>
				</ul>
			</li>
			<li>Set <b>Shared secret</b> to the value associated with the key (as defined in <span>config/lti.json</span>)</li>
		</ol>
	</body>
</html>
